  body {

    background-image: url("../Img/fondo-cocina.jpg");
    background-repeat: no-repeat;
    background-size: cover;

}

  .color-fondo {

    background-color: #A39EB7;
    

}



  .color-columna1 {

    background-color: #AD9FE1;

}

  .color-columna2 {

    background-color: #FF9CEC;

}

  .Posicion-slogan {

    float: right;

}

  .buscador {

    margin-top: 30px;

}

  .Posicion-buscar {

    margin-left: 20px;

}

  .color-icono {

    background-color: #CE56B6;

}

  .posicion-menu {

    text-align: center;


}

  .color-historial {

    color: #C378BB;
    list-style: none;

}
